body {
    margin: 0 auto;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: proxima-nova, Noto Sans KR, sans-serif;
}

.c-logo {
    padding-top: 60px;
}

.c-logo h1 {
    font-size: 100px;
    font-weight: 900;
}

@media ( max-width: 768px ) {
    .c-logo h1 {
        font-size: 70px;
    }
}

.c-logo a {
    text-decoration: none;
    color: #ffffff;
}

.c-logo a:hover {
    text-decoration: none;
}

.c-logo p {
    margin-top: -80px;
    font-size: 18px;
    color: #797979;
}

@media ( max-width: 768px ) {
    .c-logo p {
        margin-top: -20px;
    }
}

.c-a-status {
    padding-top: 50px;
}

.c-a-status p {
    font-size: 14px;
    color: #797979;
}

.c-a-status .row {
    margin-top: -20px;
}

.c-a-status .row h1 {
    text-align: center;
    font-size: 60px;
}

.c-a-status .row .c1 {
    color: #e06377;
}

.c-a-status .row .c2 {
    color: #c83349;
}

.c-a-status .row .c3 {
    color: #d9ad7c;
}

.c-a-status .row p {
    margin-top: -20px;
    text-align: center;
    color: #797979;
}

.c-status {
    padding-top: 50px;
}

.c-status p {
    font-size: 14px;
    color: #797979;
}

.c-status .row {
    margin-top: -20px;
}

.c-status .row h1 {
    text-align: center;
    font-size: 60px;
}

.c-status .row .c1 {
    color: #e06377;
}

.c-status .row .c2 {
    color: #c83349;
}

.c-status .row .c3 {
    color: #d9ad7c;
}

.c-status .row p {
    margin-top: -20px;
    text-align: center;
    color: #797979;
}

.c-emergency {
    padding-top: 50px;
}

.c-emergency p {
    font-size: 14px;
    color: #797979;
}

.c-emergency .date {
    font-size: 14px;
    color: #797979;
    padding-bottom: 10px;
}

.c-emergency .msg-box {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0f0f0f;
    border-radius: 5px;
}

.c-emergency .msg-box h1 {
    font-size: 20px;
}

.c-emergency .msg-box h2 {
    font-size: 14px;
    color: #797979;
    font-weight: 400;
}

.c-emergency h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    padding-right: 10px;
}

.c-emergency a {
    color: #797979;
    text-decoration: none;
}

.c-emergency a:hover {
    text-decoration: underline;
}

.c-emergency .fa-angle-right {
    padding-left: 10px;
}

.c-emergency table {
    border-collapse: collapse;
    width: 100%;
    color: #ffffff;
  }
  
  .c-emergency td, th {
    border: 1px solid #0f0f0f;
    text-align: left;
    padding: 8px;
  }
  
  .c-emergency tr:nth-child(even) {
    background-color: #0f0f0f;
  }

.c-rules {
    padding-top: 50px;
}

.c-rules p {
    font-size: 14px;
    color: #797979;
}

.c-rules .row h1 {
    text-align: center;
    font-size: 60px;
}

.c-rules .row p {
    margin-top: -20px;
    text-align: center;
    color: #797979;
}

.c-rules h2 {
    font-size: 150px;
    color: #b8a9c9;
    text-align: center;
}

.c-rules h3 {
    margin-top: -40px;
    font-size: 14px;
    color: #797979;
    text-align: center;
    font-weight: 400;
}

.c-copyrights {
    padding-top: 50px;
}

.c-copyrights p {
    font-size: 20px;
}

.c-copyrights i {
    padding-right: 10px;
    color: #797979;
    font-size: 10px;
}

.c-copyrights .br {
    padding-left: 10px;
}

.c-copyrights a {
    text-decoration: none;
    color: #ffffff;
}

.c-copyrights a:hover {
    text-decoration: underline;
}

.c-information {
    padding-top: 50px;
    padding-bottom: 200px;
}

.c-information p {
    font-size: 20px;
}

.c-information i {
    padding-right: 10px;
    color: #797979;
    font-size: 10px;
}

.c-information .br {
    padding-left: 10px;
}

.c-information a {
    text-decoration: none;
    color: #ffffff;
}

.c-information a:hover {
    text-decoration: underline;
}